{% load static %} {% comment %} {% include "messages.html" %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>room details</title>
    <link rel="stylesheet" href="{% static 'events/event_details.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="hero">
      <div class="hero-image">
        <img
          src="{% static 'images/loginbg.jpg' %}"
          alt="Hero Image"
          class="image"
        />
        <a href="{% url 'room_list' %}" class="back-button back"
          >Back to room List</a
        >
      </div>
      <div class="hero-content">
        <div class="row search-card-result">
          <div class="col-md-5">
            <h5 class="text-white">{{hotels_obj.hotel_name}}</h5>
            <p class="text-white">{{hotels_obj.amenities}}</p>
      
            <p class="text-secondary">{{hotels_obj.description|truncatechars:150}}</p>
          </div>
          <div class="col-md-2 border-left text-center more-offers">
            <p class="text-white">Price: <span class="text-secondary"> ${{hotels_obj.hotel_price}} </span></p>
            <p class="text-white">Available Rooms: <span class="text-secondary"> {{hotels_obj.available_rooms}} </span></p>
          </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="filter-card">
          <h5 class="text-white">Book Hotel</h5>
          {% include "messages.html" %}
          <form method="post">
            {% csrf_token %}
            <div class="row form-group">
              <div class="col-md-12">
                <label for="mintopay" class="text-white">Check in</label>
                <p>
                  <input
                    type="date"
                    name="checkin"
                    id="checkin"
                    class="form-control"
                  />
                </p>
              </div>
              <div class="col-md-12">
                <label for="maxtopay" class="text-white">Check out</label>
                <p>
                  <input
                    type="date"
                    name="checkout"
                    id="checkout"
                    class="form-control"
                  />
                </p>
              </div>
            </div>
      
            <div class="row form-group">
              <div class="col-md-12">
                <input
                  type="submit"
                  class="btn btn-primary btn-block"
                  value="Book"
                />
              </div>
            </div>
          </form>
        </div>
        {% else %}
      
        <a href="/login/" class="btn btn-primary mt-5">Login</a>
        {% endif %}
      </div>
      
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
