/* event_list.css */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");

/* General reset */
body {
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    background-color: black; /* Set body background to black */
    color: white; /* Set text color to white */
}

h1 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: gold; /* Set title color to gold */
}

/* Event list styles */
.event-list {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column; /* Stack items in a column */
    align-items: center; /* Center items horizontally */
}

.event-item {
    width: 70%; /* Set the width of the event item to 70% of its container */
    margin-bottom: 20px; /* Adjust margin for spacing between items */
    border: 2px solid transparent; /* Initially transparent border */
    border-radius: 10px; /* Smooth corners */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.388); /* Golden shadow */
    transition: all 0.3s ease; /* Smooth transition */
}

.event-item:hover {
    box-shadow: 0 0 40px rgba(255, 215, 0, 0.9); /* Increase shadow on hover */
    border: 2px solid rgba(255, 215, 0, 0.9); /* Neon golden border */
    transform: translateY(-5px); /* Float effect on hover */
}

.event-item .event-details {
    padding: 10px;
}

.event-item .event-description {
    display: none; /* Initially hide only the event description */
    color: white; /* Set description text color to white */
}

.event-item:hover .event-description {
    display: block; /* Show description on hover */
}

.event-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.event-details h2 {
    margin-top: 0;
    font-size: 1.2em;
    font-family: "Orbitron", sans-serif;
    color: rgb(255, 235, 120); /* Set event name color to gold */
}

.event-details p {
    margin: 5px 0;
    line-height: 1.4;
}

.event-details b {
    font-weight: bold;
    color: rgb(171, 171, 171); /* Set time and location color to gold */
}

/* Ensure the page is responsive by adding media queries */
@media (max-width: 768px) {
    .event-item {
        width: 90%; /* Adjust the width for smaller screens */
        flex-wrap: wrap;
    }
    
    .event-item img {
        width: 100%; /* Make images fluid for smaller screens */
        height: auto;
    }
}
