@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(195, 100%, 30%);
  --gradient-color: linear-gradient(
    90deg,
    hsl(210, 55%, 20%),
    hsl(192, 62%, 25%)
  );
  --title-color: hsl(210, 52%, 20%);
  --text-color: hsl(210, 24%, 15%);
  --white-color: #fff;
  --body-color: hsl(210, 55%, 85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Lora", serif;
  --biggest-font-size: 2.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: url(loginbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  top: 0;
  left: 0;
  background-color: hsla(210, 55%, 85%, 0.701);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 80px;
}

.nav__close,
.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, 0.1);
    padding-block: 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    transition: top 0.4s;
  }
}
.active{
    border-bottom: 2px solid rgba(198, 44, 44, 0.594);
}
.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  color: rgb(11, 3, 39);
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
  text-shadow: 0 0 10px #fff;
}

.nav__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.nav__button-link,
.nav__button-ghost {
  display: inline-block;
  color: var(--title-color);
}
.nav__button-ghost {
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 0.8rem 2.5rem;
  border: 2px solid var(--title-color);
  border-radius: 0.75rem;
}
.nav__buttons :hover {
  background-color: rgb(185, 202, 209);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.bg-header {
  box-shadow: 0 1px 16px hsla(210, 55%, 24%, 0.12);
}

.wrraper {
  width: 380px;
  margin: 90px 5px;
  background: rgb(27, 0 ,135,16%);
  border: 2px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  color: aliceblue;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrraper h1 {
  font-size: 36px;
  text-align: center;
}

.wrraper .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 30px 0;
}

.wrraper-2 {
    width: 50vw;
    height: auto;
    margin: 90px 5px;
    background: transparent;
    background-color: rgba(53, 53, 53, 0.418);
    border: 2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: aliceblue;
}

.wrraper .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.info{
    text-align: center;
    overflow: hidden;
}

@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    column-gap: 4rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 5rem;
  }
  .nav__buttons {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__logo {
    width: 48px;
  }
}
