{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event details</title>
    <link rel="stylesheet" href="{% static 'events/event_details.css' %}" />
  </head>
  <body>
    <div class="hero">
      <div class="hero-image">
        <img
          src="{% static 'images/loginbg.jpg' %}"
          alt="Hero Image"
          class="image"
        />
        <a href="{% url 'event_list' %}" class="back-button back"
          >Back to Event List</a
        >
      </div>
      <div class="hero-content">
        <h1>{{ event.event_name }}</h1>
        <h3>Event description:</h3>
        <p>{{ event.event_description }}</p>
        <h3>About Host:</h3>
        <p>{{ event.host_details }}</p>
        <br />
        <p>Time: {{ event.event_time }}</p>
        <br />
        <p>Location: {{ event.event_location }}</p>
        <br />
        <p>Entry Fee: {{ event.event_fee }}</p>
        <br />
        {% if user.is_authenticated %} 

        {% if already_registered %}
        <p>You're already registered for this event.</p>
        {% else %}
        <form action="{% url 'register_for_event' event.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Register for this event</button>
        </form>
        {% endif %}

        {% else %}

        <a href="{% url 'login' %}" class="back-button">Login to register for this event</a>

        {% endif %}
      </div>
    </div>
  </body>
</html>
